name: Build

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout jshvn/professional repo
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build custom LaTeX Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: false
        load: true
        tags: jshvn-texlive:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Install go-task
      uses: arduino/setup-task@v2
      with:
        version: 3.x

    - name: Build documents
      run: task all

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.CF_R2_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.CF_R2_SECRET_ACCESS_KEY }}
        aws-region: us-east-1  # Region is ignored for R2, but required by the action

    - name: Upload PDFs to Cloudflare R2
      run: |
        aws s3 sync documents/generated/ s3://${{ secrets.CF_R2_BUCKET }}/ \
          --endpoint-url https://${{ secrets.CF_ACCOUNT_ID }}.r2.cloudflarestorage.com \
          --delete
